@import 'reset';

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	background: #888;
	color: white;
}

.h1 {
	text-align: center;
	font-size: 2rem;
	margin: 20px 0;
}

input[type='text'] {
	width: 20%;
}

button {
	text-align: center;
}

.em-json-to-csv-form {
	position: relative;
	overflow: hidden;
	.em-csv-form-legend {
		text-align: left;
	}
	fieldset {
		display: block;
		color: #FFF;
		-webkit-margin-start: 2px;
		-webkit-margin-end: 2px;
		border-width: 2px;
		border-style: groove;
		border-color: #FFF;
		border-image: initial;
		padding: 15px 10px 0 10px;
		margin: 0 15px;
	}
	.em-add-margin-bottom {
		text-align: left;
		margin-bottom: 15px;
		padding: 10px;
	}
	.em-explanation {
		display:  block;
		width: 40%;
		overflow: hidden;
	}
	.em-error-message {
		color: blue;
	}
	.em-json {
		.em-textarea {
			width: 40%;
			display: block;
			height: 15rem;
		}
		.em-code-example {
			background: #000;
			color: #fff;
			text-align: left;
			margin-top: 0;
		}
	}

	.em-headers-builder {
		.em-field {
			display: inline;
		}
		.em-buttons {
			width: 20%;
		}
	}

	.em-buttons.em-csv-submit {
		width: 40%;
	}
}
